<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title class="title">Login</mat-card-title>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter your email" type="email" />
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Enter your password" type="password" />
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
    </mat-card>
  </div>
  